@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --main-font: "Ubuntu", sans-serif;
  --boxshadow: 0 5px 10px black;
  --textcolor: #373737;
  --color-page: #521bdd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #eee 60%, #521bdd 50%);
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
.navbar a {
  text-decoration: none;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  padding: 0 20px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #434242;
  font-family: var(--main-font);
}
.navbar h1 {
  font-family: var(--main-font);
  font-size: 30px;
  color: #fff;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}
.box-image {
  padding: 30px;
  box-shadow: var(--boxshadow);
  border: 20px solid #521bdd;
  border-radius: 50%;
  background: #fff;
}
.box-image img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  cursor: pointer;
  border: 20px solid #521bdd;
}
.info-raphinha {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
}
.info-raphinha h5 {
  font-size: 20px;
  font-family: var(--main-font);
  color: #454545;
}
.info-raphinha h1 {
  font-family: var(--main-font);
  font-size: 30px;
  color: var(--textcolor);
}
.info-raphinha h3 {
  font-family: var(--main-font);
  color: var(--textcolor);
  font-size: 25px;
}
.info-raphinha .btn-down__contact {
  display: flex;
  gap: 20px;
}
.info-raphinha .btn-down__contact button:first-child {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 12px;
  border: none;
  box-shadow: var(--boxshadow);
  transition: 0.3s;
  cursor: pointer;
}
.info-raphinha .btn-down__contact button a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--textcolor);
  font-weight: bold;
  transition: 0.3s ease-in;
}
.info-raphinha .btn-down__contact button:last-child {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  color: #fff;
  background: #282828;
  box-shadow: var(--boxshadow);
  font-weight: bold;
  transition: 0.3s;
}
.info-raphinha .btn-down__contact button:first-child:hover {
  background: #494949;
}
.info-raphinha .btn-down__contact button:first-child:hover a {
  color: #fff;
}
.info-raphinha .btn-down__contact button:last-child:hover {
  background: #c5c5c5;
}
.info-raphinha .btn-down__contact button:last-child:hover {
  color: #494949;
}
.socail {
  display: flex;
  gap: 0 20px;
}
.socail a:first-child {
  color: #000;
  transition: 0.3s;
}
.socail a:nth-child(2) {
  color: #d52929;
  transition: 0.3s;
}
.socail a:last-child {
  color: #0544b8;
  transition: 0.3s;
}
.socail a:hover {
  transform: scale(1.1);
}
.menu {
  display: none;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.about {
  padding-top: 20px;
}
.about-img img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  object-position: top;
  border: 10px var(--color-page) solid;
  box-shadow: var(--boxshadow);
}
.about-page {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.right-about {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
}
.h1-header {
  color: var(--textcolor);
}
.all-right {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about .h1-header {
  text-align: center;
  font-family: var(--main-font);
  margin-top: 20px;
}
.about .h3-header {
  text-align: center;
  font-family: var(--main-font);
  color: var(--textcolor);
}
.experience {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 10px var(--color-page) solid;
  width: 300px;
  border-radius: 20px;
  color: var(--textcolor);
  font-size: 20px;
  font-family: var(--main-font);
}
.education {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 10px var(--color-page) solid;
  width: 300px;
  border-radius: 20px;
  color: var(--textcolor);
  font-size: 20px;
  font-family: var(--main-font);
}
.text-about {
  line-height: 30px;
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--textcolor);
  letter-spacing: 1px;
}
.respon {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-page);
  width: 350px;
  padding: 100px 0;
  border-radius: 20px;
  z-index: 9999;
  box-shadow: var(--boxshadow);
}
.respon li {
  list-style: none;
  padding: 20px 0;
}
.respon li a {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--main-font);
  color: #fff;
}
.Experience {
  padding-top: 20px;
}
.expert-head p,
h1 {
  text-align: center;
  font-family: var(--main-font);
}
.expert-head p {
  font-weight: bold;
  font-size: 20px;
  color: var(--textcolor);
}
.expert-head h1 {
  margin-top: 20px;
  color: var(--textcolor);
}
.front-end {
  padding: 30px;
  width: 700px;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 10px var(--color-page) solid;
  background: #ffffff;
  box-shadow: var(--boxshadow);
}
.front-end h3 {
  text-align: center;
  font-size: 25px;
  color: var(--textcolor);
}
.expertt-skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 200px;
  justify-items: start;
  margin-top: 20px;
}
.expert-skill {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
}
.langauge {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-text p {
  color: var(--textcolor);
}
.icon-text h2 {
  color: var(--textcolor);
}
.icon {
  color: rgb(28, 194, 250);
}

.Project p {
  text-align: center;
  font-family: var(--main-font);
  color: var(--textcolor);
  margin-top: 20px;
  font-weight: bold;
}
.Project h1 {
  margin-top: 20px;
  color: var(--textcolor);
}
.myproject img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
  border: var(--color-page) 5px solid;
  transition: 0.2s;
  cursor: pointer;
}
.myproject img:hover {
  filter: blur(2px);
}
.flex-project {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 50px;
}
.myproject {
  padding: 40px;
  border: 10px solid var(--color-page);
  box-shadow: var(--boxshadow);
  border-radius: 20px;
  font-family: var(--main-font);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myproject h2 {
  text-align: center;
  margin-top: 20px;
  color: var(--textcolor);
}
.view-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.view-btn .code,
.demo {
  padding: 15px 30px;
  border-radius: 10px;
  border: var(--color-page) 3px solid;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
}
.sendto {
  width: 30%;
}
.sendto p {
  font-family: var(--main-font);
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
}
.contact-page {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.contact h2 {
  text-align: center;
  font-family: var(--main-font);
  margin-top: 20px;
  font-size: 30px;
  color: var(--textcolor);
}
.contact h4 {
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--textcolor);
}
form {
  display: flex;
  flex-direction: column;
  align-items: left;
}
form input {
  width: 500px;
  height: 50px;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 5px var(--color-page) solid;
  box-shadow: var(--boxshadow);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 15px;
}
.submit {
  width: 200px;
  border-radius: 10px;
  border: 5px var(--color-page) solid;
  box-shadow: var(--boxshadow);
  margin-top: 20px;
  cursor: pointer;
}
.email {
  margin-top: 20px;
}
.sms {
  margin-top: 20px;
}
textarea {
  width: 500px;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 5px var(--color-page) solid;
  box-shadow: var(--boxshadow);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 15px;
}
label {
  color: #fff;
  font-size: 20px;
  font-family: var(--main-font);
}
.verify img {
  width: 30px;
}
.verify {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.verify h5 {
  font-size: 15px;
  color: #fff;
  font-family: var(--main-font);
}
@media screen and (max-width: 1450px) {
  .expert-skill {
    flex-direction: column;
    align-items: center;
  }
  .myproject img {
    width: 200px;
    height: 200px;
  }
  .view-btn .code,
  .demo {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 1250px) {
  .about-page {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background: linear-gradient(to top, #eee 75%, #521bdd 40%);
  }
  .Experience,
  .about {
    padding-bottom: 20px;
  }
  .navbar ul {
    display: none;
  }
  .home {
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  .right-about {
    flex-direction: column;
  }
  .all-right {
    width: 300px;
  }
  .front-end {
    width: 350px;
  }
  .expertt-skill {
    gap: 20px;
  }
  .about .h3-header {
    color: #fff;
  }
  .h1-header {
    color: #fff;
  }
  .expert-head p {
    color: #fff;
  }
  .expert-head h1 {
    color: #fff;
  }
  .icon-text h2 {
    font-size: 15px;
  }
  .flex-project {
    flex-direction: column;
    align-items: center;
  }
  .Project {
    padding-bottom: 30px;
  }
  .Project-head p {
    color: #fff;
  }
  .Project-head h1 {
    color: #fff;
  }
  .contact h4 {
    color: #fff;
  }
  .contact h2 {
    color: #fff;
  }
  .contact-page {
    flex-direction: column;
  }
  .sms {
    color: #000;
  }
  .sendto {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .box-image img {
    width: 230px;
    height: 230px;
  }
  .about-img img {
    width: 300px;
    height: 300px;
  }
  form input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
  input:last-child {
    width: 150px;
  }
  .contact h4 {
    margin-top: -10px;
  }
  .contact {
    padding-bottom: 30px;
  }
}
